<div class="container fluid">
    <div class="row mb-3 headerProfile">
        <div class="col-4">
            <img src="{{user.image}}" alt="profileImg">
        </div>
        <div class="col-8">
            <div class="row">
                <h1>{{user.name}} {{user.lastname}}</h1>
            </div>
            <div class="row">
                <small>{{user.career}}</small>
            </div>
            <div class="row">
                {{#isAdmin session}}
                <a href="/users/{{../user.id}}/edit">Edit</a>
                {{/isAdmin}}
            </div>
            <div class="row displayInline mt-3">
                <ul>
                    <li>Friends <span>{{user.friends.length}}</span></li>
                    <li>Photos</li>
                    <li>Requests</li>
                </ul>
            </div>
        </div>
    </div>

    {{!-- {{#weAreFriends session}}  --}}
    {{#isOwneredByOwnSession user session}}
    <div class="row">
        <div class="col-10">
            <div class="postWrapper borderRadius m-3 border" style="padding:5px;">
                <form action="/users/{{user.id}}/posts/create" method="POST">

                    <div class="row">
                        <div class="col-4">
                            <img src="{{user.image}}" class="imagePost" alt="image">
                        </div>

                        <div class="col-8 p-3">
                            <input type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" placeholder="Title" name="title" style="width: 70%; border: none;"
                                class="form-control" />

                            <textarea class="form-control {{#if errors.text}}is-invalid{{/if}}" style="width: 90%;" id="text" name="text" rows="7" placeholder="Comment..."></textarea> {{#if errors.text}}
                            <small class="red">{{errors.text}}</small>{{/if}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;">Post</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}

    <form action="/friendship/{{user.id}}/create" method="POST">
        <button type="submit" class="btn btn-primary btn-sm">Follow</button>
    </form>
    {{/isOwneredByOwnSession}} 
    {{> posts}}

  
     {{!-- {{/weAreFriends}} --}}

</div>